:root {
    /* --black: #171321;
    --dkblue: #0d314b;
    --plum: #4b0d49;
    --hotmag: #ff17e4;
    --magenta: #e310cb;
    --aqua: #86fbfb;
    --white: #f7f8fa;
    --font-size: 1.3rem;
    --mono: "Oxygen mono", monospace;
    --sans: Oxygen, sans-serif; */

    --table-header: #FF9757;
    --table-body: #FFDD9A;
    --buttons: #FF6200;
    --input-box: #FFA557;

  } #FF9757



*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

#root{
    margin: 0 auto;
}

#container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    width: 60%;
    height: 60vh;
    border: 3px solid black;

    background-color: var(--table-body);
    font-size: 8pt;
    overflow: hidden;
    position: relative;
}

.table-box{
    overflow-y: auto;
   /*  flex-grow: 1; */
}

table{
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

thead{
    position: sticky;
/*     overflow: hidden; */
    background-color: var(--table-header);
    top: 0;
    z-index: 10;
    padding: 20px;

}

th,td{
    padding: 5px;
    border-left: 1px solid black;
    word-wrap: break-word;
}

td{
    border: 1px solid black;
}


/* Habit Input */
#habit-input-box{
    background-color: var(--input-box);
    padding: 10px;
    position:relative;
    bottom: 0;
    text-align: center;
    border-top: 2px solid black;
}

#habit-input-box > label{
    font-size: 12pt;
}

#habit-input-box > input {
    border-radius: 3px;
    margin-left: 5px;
    padding: 3px;
}

#habit-input-box > button{
    margin-left: 10px;
    border-radius: 5px;
    padding: 5px 7px;
    color: white;
    background-color: var(--buttons);
}